# This file is part of loom,
# hacker^Wspace automation kit

[Unit]
Description=Loom Systems necessary for survival of carbon based lifeforms.
Wants=closed.target